@model IEnumerable<WebApplication8.Models.Product>

<h2>Products</h2>

<!-- список -->
<ul>
    @foreach (var item in Model)
    {
        <li>@item.ID. @item.Name - @item.Price$ (@item.CreatedDate.ToShortDateString())</li>
    }
</ul>

<!-- таблиця -->
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Created Date</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.CreatedDate.ToShortDateString()</td>
        </tr>
    }
</table>